
<h2>Class Enrollment</h2>
<table class="table table-striped" *ngIf="classes">  
    <tr >  
        <th> 
            Enroll                                        
        </th>  
        <th>                            
            Course         
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        <th>                            
            Units           
        </th>
        
    </tr> 
   
    
        <tr  *ngFor="let school_class of classes"> 
        <td>
            <input type="checkbox">
        </td>   
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_2 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_3 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_4 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_5 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_6 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_7 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_8 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_9 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_10 }}</p>            
        </td>
        <td  (click)="onClickCompany(school_class.varchar_1)">                            
            <p> {{ school_class.varchar_11 }}</p>            
        </td>
    </tr>   
<table>